<!DOCTYPE html>
<html>
<head>
    <title>Micro blog on BlockChain</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <script src="./lib/nebPay.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <div class="title">Leave your message on blockchain, it will never be deleted nor modified.</div>

    <div class="header" v-if="messagePosted">Message posted. Your message will appear on blockchain soon.
    </div>

    <div id="page-container">
        <div id="dashboard">
            <div id="profile-summary">
                <div class="content">
                    <img class='avatar' src='image/nebulas.png'/>
                </div>
            </div>
            <div id="tweet-content">
                <div id="tweet-controls">
                <textarea class="tweet-compose" placeholder="Write down your message..." v-model="message"
                          v-on:keyup="type"></textarea>
                    <div id="char-count">{{ 140 - message.length}}</div>
                    <button class="button" id="tweet-submit" v-if="allowSubmit" v-on:click="postMessage">Submit</button>
                </div>
            </div>
        </div>
        <div id="messages">
            <h2>Messages</h2>
            <div id="stream" v-for="tweet in list">
                <div class="tweet">
                    <div class="content">
                        <img class="avatar" src="image/nebulas.png"/>
                        <strong class="fullname">{{tweet.from}}</strong>
                        <p class="tweet-text">{{tweet.content}}</p>
                    </div>
                    <div class="time">
                        <span v-html="timeConverter(tweet.timeStamp)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  const NebPay = require("nebpay");
  const nebPay = new NebPay();
  const dappAddress = "n1iDJb3KdqmZDyV7kX9cnEPqXeGeAVRwwiL";
  const app = new Vue({
    el: '#app',
    data: {
      message: '',
      allowSubmit: true,
      list: [],
      messagePosted: false,
      loadedPages: 0
    },
    methods: {
      timeConverter: function (timeStamp) {
        const a = new Date(timeStamp * 1000);
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        const year = a.getFullYear();
        const month = months[a.getMonth()];
        const date = a.getDate();
        const hour = a.getHours();
        const min = a.getMinutes();
        const minute = min.toString().length === 1 ? '0' + min : min;
        const sec = a.getSeconds();
        const seconds = sec.toString().length === 1 ? '0' + sec : sec;
        return date + ' ' + month + ' ' + year + ' ' + hour + ':' + minute + ':' + seconds;
      },
      type: function () {
        const messageLength = this.message.length;
        this.allowSubmit = messageLength <= 140;
      },
      postMessage: function () {
        nebPay.call(dappAddress, 0, "post", JSON.stringify([this.message]), {
          listener: messagePosted
        });
      }
    }
  });

  setInterval(function () {
    getPosts(app.$data.loadedPages);
  }, 20000);

  getPosts(0);

  function getPosts(page) {
    const callFunction = "timeline";
    const callArgs = "[10, " + page * 10 + "]";
    nebPay.simulateCall(dappAddress, 0, callFunction, callArgs, {
      listener: parseTweets
    });
  }

  function messagePosted() {
    Vue.set(app, 'messagePosted', true);
    Vue.set(app, 'message', '');
  }

  function parseTweets(response) {
    Vue.set(app, 'messagePosted', false);

    const currentTweets = app.$data.list;
    Vue.set(app, 'loadedPages', Math.round(currentTweets.length / 10));

    if (!response.result) return;
    const result = eval(JSON.parse(response.result));
    const filteredResult = result.filter(tweet => {
      const matchedTweets = currentTweets.filter(current => current.from === tweet.from && current.timeStamp === tweet.timeStamp)
      return matchedTweets.length === 0;
    });
    Vue.set(app, 'list', filteredResult.reverse().concat(currentTweets));

    if (result.length !== 0 && result.length % 10 === 0) {
      getPosts(app.$data.loadedPages + 1);
    }
  }
</script>
</body>
</html>