<!DOCTYPE html>
<html>
<head>
    <title>Micro blog on BlockChain</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <script src="./lib/nebPay.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="title">Leave your message on blockchain, it will never be deleted nor modified.</div>

<div id="page-container">
    <div id="dashboard">
        <div id="profile-summary">
            <div class="content">
                <img class='avatar' src='image/nebulas.png'/>
            </div>
        </div>
        <div id="tweet-content">
            <div id="tweet-controls">
                <textarea class="tweet-compose" placeholder="Write down your message..." v-model="message"
                          v-on:keyup="type"></textarea>
                <div id="char-count">{{ 140 - message.length}}</div>
                <button class="button" id="tweet-submit" v-if="allowSubmit">Submit</button>
            </div>
        </div>
    </div>
    <div id="app">
        <h2>Messages</h2>
        <div id="stream" v-for="tweet in list">
            <div class="tweet">
                <div class="content">
                    <img class="avatar" src="image/nebulas.png"/>
                    <strong class="fullname">{{tweet.from}}</strong>
                    <p class="tweet-text">{{tweet.content}}</p>
                </div>
                <div class="time">
                    <span v-html="timeConverter(tweet.timeStamp)"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const NebPay = require("nebpay");
  const nebPay = new NebPay();
  const dappAddress = "n1kFDbz5TvZ3nb4SLpuAkFfDtGKFfb9GB4f";
  const app = new Vue({
    el: '#page-container',
    data: {
      message: '',
      allowSubmit: true,
      list: []
    },
    methods: {
      timeConverter: function (timeStamp) {
        const a = new Date(timeStamp * 1000);
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        const year = a.getFullYear();
        const month = months[a.getMonth()];
        const date = a.getDate();
        const hour = a.getHours();
        const min = a.getMinutes();
        const sec = a.getSeconds();
        return date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
      },
      type: function () {
        const messageLength = this.message.length;
        this.allowSubmit = messageLength <= 140;
      }
    }
  });

  getWish(0);

  function getWish(page) {
    const callFunction = "timeline";
    const callArgs = "[10, 0]";
    nebPay.simulateCall(dappAddress, 0, callFunction, callArgs, {
      listener: parse
    });
  }

  function parse(response) {
    if (!response.result) return;
    const result = eval(JSON.parse(response.result));
    Vue.set(app, 'list', result.reverse())
  }
</script>
</body>
</html>